<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{~/css/form.css}" >
    <title>Forgot Password</title>
</head>
<body  th:style="'background:url('+ @{~/images/abstract.jfif} +');'">
<form id="form" method="post" action="/user/getOTP" name="forgotPassword" class="form">
    <div class="long">
        <h1>Forgot Password</h1>
    </div>

         <div th:if="${emailNotFound}" style="display: flex;align-items: center; justify-content: center;">
             <p  th:text="${emailNotFound}" style="color: red" class="errorDiv"></p>
         </div>



    <div  class="input-control long">
        <label for="email">Email</label><br>
        <input type="email" id="email"  name="email" required>
        <div class="error"></div>
    </div><br><br>






    <div  class="input-control long">
        <a th:href="@{/user/resetPassword}"> <input type="submit" value="Get Code"></a>
    </div>

    <div class="link long" >
        Go back <a th:href="@{/login}">Login </a>
    </div>
</form>
</body>
</html>